.about {
    padding: 0 var(--padding);
    padding-top: 20px;
    padding-bottom: 110px;

    position: relative;
    z-index: 3;

    background-color: var(--color-background);
    border-bottom-left-radius: 40px;

    @include flex-container(column, center, center);

    &__heading {
        font-size: 6rem;
        color: var(--color-secondary);
        font-family: new York;

        margin-bottom: 50px
    }

    &__reasons {
        @include flex-container(row, space-around, center);
        
        max-width: 85%;

    }
    
    &__reason {
        @include flex-container(column, flex-start, center);

        &:not(:last-of-type) {
            margin-right: 25px;
        }

        color: var(--color-secondary);
        font-style: italic;

        &__img {
            height: 9rem;
            margin-bottom: 20px;
        }

        &__title {
            font-size: 1.8rem;
        }
        
        &__text {
            font-size: 1.8rem;
            font-weight: 700;
            text-align: center;
            max-width: 95%;
        }
    }
}